{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@emotion/babel-plugin",
      {
        "labelFormat": "[local]",
        "sourceMap": true
      }
    ]
  ]
}
